<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset='utf-8'>
  <title>Deven Rathod -Free Movie Server</title>
  <link rel="stylesheet" href="static/css/style.css" />
  <script src="static/js/script.js"></script>
</head>

<div class="c2">
  <marquee>
    <p>Made With 💙 by Deven </p>
  </marquee>
</div>

<body>
  <header>
    <div class="nav">
      <hr />
      <nav>
        <ul>
          <li><a href="{%url 'index' %}">Home</a></li>
        </ul>
      </nav>
      <hr />
    </div>
    <h1 class="headh1">Welcome To Free Movie Server</h1>
    <h2 class="headh1">click on Show Button to see all movies</h2>
    <button class="nbtn" onclick="filterSelection('all')">Show</button>

  </header>

  <!-- movie upload code  -->
  <div class="cards">
    {% for movie in movies %}
    <a href="{%url 'detail' movie.id %}">
      <div class="row">
        <div class="column nature">
          <div class="content">
            <img src="{{movie.image}}" alt="Mountains" style="width:100%">
            <h4>{{movie.title}}</h4>
          </div>
    </a>
  </div>
  {%endfor%}

                        <!-- <footer>
    <div>
   Created by DevelopeSpot 
    </div>
  </footer> -->
</body>

</html>